@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.brandText{
	font-family: 'Lobster', cursive;
}

.dropdown-left-manual {
  right: 0;
  left: auto;
  padding-left: 1px;
  padding-right: 1px;
}
